{% extends "layout.html" %}

{% block body %}
<h2>Form</h2>

<div data-turbo-animate data-testid="form">
  <header>
    <nav>
      <a href="/" data-turbo-action="replace" data-turbo-animate-with="custom">&laquo; Back</a>
    </nav>
  </header>

  <form action="/form" method="POST" data-turbo-animate-with="custom">
    <p>
      <label for="form_name">Name</label>
      <input id="form_name" type="text" />
    </p>

    <p>
      <label for="form_email">Email</label>
      <input id="form_email" type="email" />
    </p>

    <p>
      <button type="submit">Save</button>
    </p>
  </form>
</div>
{% endblock %}
