.turbo-advance-leave {
  animation: 200ms slide-out ease-in;
  --slide-out-to-x: -100%;
}

.turbo-advance-enter {
  animation: 200ms slide-in ease-out;
  --slide-in-from-x: 100%;
}

.turbo-replace-leave,
.turbo-restore-leave {
  animation: 200ms slide-out ease-in;
  --slide-out-to-x: 100%;
}

.turbo-replace-enter,
.turbo-restore-enter {
  animation: 200ms slide-in ease-out;
  --slide-in-from-x: -100%;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translate3d(var(--slide-in-from-x), 0, 0);
  }
}

@keyframes slide-out {
  to {
    opacity: 0;
    transform: translate3d(var(--slide-out-to-x), 0, 0);
  }
}
